@model BankMatilda.ViewModels.TransactionDepositViewModel
@{
    ViewData["Title"] = "Admin Page";
}
<h3>Deposit</h3>

<form asp-controller="Transactions" asp-action="Deposit" method="post">
    <label>Account Number:</label><br>
    <input asp-for="AccountId"><br>
    <span asp-validation-for="AccountId"></span>

    <label>Amount:</label><br>
    <input asp-for="AmountToDeposit">
    <span asp-validation-for="AmountToDeposit"></span>

    <button class="btn btn-dark" type="submit">Proceed</button>
</form>

