@model BankMatilda.ViewModels.TransactionTransferViewModel


<h3>Transfer</h3>

<form asp-controller="Transactions" asp-action="Transfer" method="post">
    <label>From Account Id:</label><br>
    <input asp-for="AccountId"><br>
    <span asp-validation-for="AccountId"></span><br/>

    <label>Amount:</label><br>
    <input asp-for="AmountToTransfer">
    <span asp-validation-for="AmountToTransfer"></span><br/><br/>


    <label>To Account Id:</label><br>
    <input asp-for="ToAccountId">
    <span asp-validation-for="ToAccountId"></span>

    <button class="btn btn-dark" type="submit">Proceed</button>
</form>

